<% layout('/layouts/boilerplate') %>

<container class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="display-5">Welcome To YelpCamp</h2>

            <p class="h6 p-2">The place where you camp. And others camp. You tell them where to camp, they tell you where to camp.</p>
            
        </div>
    </div>
</container>